#imageSize{
    width: 100%;
}

#canvas{
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}

main{
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
    justify-content: center;
}

.labelInputPair{
    display: flex;
    flex-direction: column;
}

.bigtext{
    height: 200px;
}

@media (min-width: 768px) {
    #controls{
        margin-left: 10vw;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column; /* Change to column layout for mobile */
    }
}



@font-face {
    font-family: 'BebasNeue';
    src: url('Bebas\ Neue\ Pro\ Regular.ttf');
}

@font-face {
    font-family: 'BebasNeueThin';
    src: url('Bebas\ Neue\ Pro\ Thin.ttf');
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('Bebas\ Neue\ Pro\ Book.ttf');
}
@font-face {
    font-family: 'BebasNeueSEEB';
    src: url('Bebas\ Neue\ Pro\ SemiExpanded\ ExtraBold.ttf');
}@font-face {
    font-family: 'BebasNeueSEM';
    src: url('Bebas\ Neue\ Pro\ SemiExpanded\ Middle.ttf');
}