#imageSize{
    width: 100%;
}

#canvas{
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}

main{
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
    justify-content: center;
}

.labelInputPair{
    display: flex;
    flex-direction: column;
}

.bigtext{
    height: 200px;
}

@media (min-width: 768px) {
    #controls{
        margin-left: 10vw;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column; /* Change to column layout for mobile */
    }
}



@font-face {
    font-family: 'BebasNeue';
    src: url('https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXoo9Wdhyzbi.woff2');
}

@font-face {
    font-family: 'BebasNeueThin';
    src: url('bebasneue-thin.otf');
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('bebasneue-book.otf');
}
@font-face {
    font-family: 'BebasNeueSEEB';
    src: url('bebasneue-semiexpenadedextrabold.otf');
}@font-face {
    font-family: 'BebasNeueSEM';
    src: url('Fontspring-DEMO-bebasneuepro-smemd.otf');
}