#imageSize{
    width: 100%;
}

#canvas{
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    touch-action: none;
}

main{
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
    justify-content: center;
}

.labelInputPair{
    display: flex;
    flex-direction: column;
}

.bigtext{
    height: 200px;
}

#indexmain{
    display: flex;
    justify-content: space-between;
}

#indexmain a{
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1em;
}
#indexmain img{
    width: 100%;
    border-color: black;
    border-style: dashed;
    border-width: 3px;
}
#indextitel{
 text-align: center;
}

@media (min-width: 768px) {
    #controls{
        margin-left: 10vw;
    }

    #imageInput{
        max-width: 15vw;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column; /* Change to column layout for mobile */
    }

    #imageInput{
        max-width: 40vw;
    }

    #indexmain{
        flex-direction: column;
    }
}



@font-face {
    font-family: 'BebasNeue';
    src: url('Bebas\ Neue\ Pro\ Regular.ttf');
}

@font-face {
    font-family: 'BebasNeueThin';
    src: url('Bebas\ Neue\ Pro\ Thin.ttf');
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('Bebas\ Neue\ Pro\ Book.ttf');
}
@font-face {
    font-family: 'BebasNeueSEEB';
    src: url('Bebas\ Neue\ Pro\ SemiExpanded\ ExtraBold.ttf');
}@font-face {
    font-family: 'BebasNeueSEM';
    src: url('Bebas\ Neue\ Pro\ SemiExpanded\ Middle.ttf');
}